In [1]:
import pandas as pd
tor_data=pd.read_csv('toronto_geo_data.csv').drop('Unnamed: 0', axis=1)
tor_rest=pd.read_csv('tor_rest_count.csv').drop('Unnamed: 0', axis=1)
tor_mex=pd.read_csv('tor_mex_count.csv').drop('Unnamed: 0', axis=1)

In [2]:
print(tor_data.shape)
tor_data.head()

(103, 5)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [3]:
print(tor_mex.shape)
tor_mex.head()

(100, 2)

  Postcode  Mexican Restaurant
0      M1B                   1
1      M1C                   2
2      M1E                   8
3      M1G                   3
4      M1H                   8

In [11]:
tor_data['isin']=tor_data['Postcode'].isin(tor_mex['Postcode'])
tor_data_isin=tor_data[tor_data['isin']==True]
tor_mex['Latitude']=tor_data_isin["Latitude"]
tor_mex["Longitude"]=tor_data_isin["Longitude"]
tor_mex.head()

In [14]:
tor_data_isin=tor_data[tor_data['isin']==True]

In [15]:
tor_mex['Latitude']=tor_data_isin["Latitude"]
tor_mex["Longitude"]=tor_data_isin["Longitude"]
tor_mex.head()

  Postcode  Mexican Restaurant   Latitude  Longitude
0      M1B                   1  43.806686 -79.194353
1      M1C                   2  43.784535 -79.160497
2      M1E                   8  43.763573 -79.188711
3      M1G                   3  43.770992 -79.216917
4      M1H                   8  43.773136 -79.239476